In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv',index_col=	'Rank')

In [3]:
df.head(5)

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
Rank,,,,,,,
1,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7
2,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6
3,Iceland,83.0,39.2,62.0,88.4,86.8,120.3
4,Singapore,76.7,67.2,72.1,74.6,50.4,111.1
5,Barbados,76.6,19.0,48.9,80.8,69.4,43.5

In [4]:
#import requests
#from io import StringIO
#import pandas as pd

#url = "https://example.com/data.csv"  # Replace with your actual URL
#headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
#req = requests.get(url, headers=headers)
#data = StringIO(req.text)

#df = pd.read_csv(data)

In [5]:
pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv',skiprows=[])

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7
1,2,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6
2,3,Iceland,83.0,39.2,62.0,88.4,86.8,120.3
3,4,Singapore,76.7,67.2,72.1,74.6,50.4,111.1
4,5,Barbados,76.6,19.0,48.9,80.8,69.4,43.5
...,...,...,...,...,...,...,...,...
116,117,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1
117,118,India,21.2,5.6,13.7,23.8,15.1,82.6
118,119,Egypt,21.0,3.7,12.7,21.2,16.2,20.0
119,120,Libya,20.4,4.3,12.7,22.2,15.2,42.0
120,121,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1

In [6]:
pd.read_csv('zomato.csv',encoding='Latin=1')

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [7]:
#pd.read_csv('zomato.csv',sep=';',encoding='Latin=1',error_bad_lines=False)

In [8]:
pd.read_csv('zomato.csv',encoding='Latin=1',error_bad_lines=False)

/var/folders/91/g785j1hx1z51cmj4tx83q0nw0000gn/T/ipykernel_48098/516369347.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  pd.read_csv('zomato.csv',encoding='Latin=1',error_bad_lines=False)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [9]:
dfs = pd.read_csv('zomato.csv',encoding='Latin=1',chunksize=500)
for chunks in dfs:
    print(chunks.size)

10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
10500
1071

In [10]:
dff = pd.read_json('us-states.json')

In [11]:
dfu = pd.read_json('https://www.floatrates.com/daily/usd.json')

In [12]:
dfu

,aud,cad,cny,eur,gbp,hkd,idr,inr,jpy,krw,...,bob,cop,crc,dzd,htg,pab,pyg,tnd,uyu,ngn
code,AUD,CAD,CNY,EUR,GBP,HKD,IDR,INR,JPY,KRW,...,BOB,COP,CRC,DZD,HTG,PAB,PYG,TND,UYU,NGN
alphaCode,AUD,CAD,CNY,EUR,GBP,HKD,IDR,INR,JPY,KRW,...,BOB,COP,CRC,DZD,HTG,PAB,PYG,TND,UYU,NGN
numericCode,036,124,156,978,826,344,360,356,392,410,...,068,170,188,012,332,590,600,788,858,566
name,Australian Dollar,Canadian Dollar,Chinese Yuan,Euro,U.K. Pound Sterling,Hong Kong Dollar,Indonesian Rupiah,Indian Rupee,Japanese Yen,South Korean Won,...,Bolivian Boliviano,Colombian Peso,Costa Rican Colón,Algerian Dinar,Haitian gourde,Panamanian Balboa,Paraguayan Guaraní,Tunisian Dinar,Uruguayan Peso,Nigerian Naira
rate,1.519683,1.373738,7.168673,0.915914,0.784172,7.797374,15944.431118,83.93851,146.923072,1364.947156,...,6.86,4083.333333,529.484552,134.325436,131.518405,1,7538.461538,3.091399,40.272396,1583.527
date,"Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT",...,"Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT","Fri, 9 Aug 2024 23:59:00 GMT"
inverseRate,0.658032,0.727941,0.139496,1.091805,1.275231,0.128248,0.000063,0.011913,0.006806,0.000733,...,0.145773,0.000245,0.001889,0.007445,0.007603,1,0.000133,0.323478,0.024831,0.000632